<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Country</title>
</head>
<body>
<h1> Add New Country </h1><hr/>
<from th:action="@{/addCountry}" th:object="${country}" method="post">
    Enter Country Title<br/>
    <input type="text" th:field="*{title}"><br/><br/>
    <input type="submit" value="Submit">
</from>
<hr/>
<h3 th:text="${message}"></h3>
<a th:href="@{/start}">Back</a>
<center>
    <table border="5" width="30%">
        <tr>
            <th> Country ID </th>
            <th> Country Title </th>
        </tr>
        <tr th:each="tab : ${data}">
            <td th:text="${tab.id}"></td>
            <td th:text="${tab.title}"></td>
        </tr>
    </table>
</center>

</body>
</html>