<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add Movie</title>
</head>
<body>
<h1> All Movies </h1> <hr/>

<div style="text-align: center;">
  <table border="5" width="40%">
    <tr>
      <th> ID </th>
      <th> TITLE ENG </th>
      <th> TITLE RUS </th>
      <th> YEAR </th>
      <th> SEASONS </th>
      <th> RELEASED SERIES </th>
      <th> WATCHED SERIES </th>
      <th> CATEGORY </th>
      <th> STATUS </th>
      <th> COMMENTS </th>
    </tr>
    <tr th:each="tab : ${data}">
      <td th:text="${tab.id}">  </td>
      <td th:text="${tab.titleEng}">  </td>
      <td th:text="${tab.titleRus}">  </td>
      <td th:text="${tab.year}">  </td>
      <td th:text="${tab.seasons}">  </td>
      <td th:text="${tab.releasedSeries}">  </td>
      <td th:text="${tab.watchedSeries}">  </td>
      <td th:text="${tab.category.title}">  </td>
      <td th:text="${tab.status.title}">  </td>
      <td th:text="${tab.comments}"></td>
    </tr>
  </table>
</div>
<a th:href="@{/start}">Go Start Page</a>
</body>
</html>