<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Start Page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1> Movie Operations </h1> <hr/>
<a th:href="@{/addMovieForm}">Add New Movie</a>
<a th:href="@{/addCategoryForm}">Add New Category</a>
<a th:href="@{/addStatusForm}">Add New Status</a>
<a th:href="@{/addCountryFrom}">Add New Country</a>
<a th:href="@{/addAccessFrom}">Add New Access</a>
<a th:href="@{/addGenreFrom}">Add New Genre</a>
<a th:href="@{/addLanguageFrom}">Add New Language</a>
<a th:href="@{/addSubtitleFrom}">Add New Subtitle</a>
<a th:href="@{/addExitDayFrom}">Add New ExitDay</a>
</br>
<a th:href="@{/allMovies}">All Movies</a>
<a th:href="@{/allCategories}">All Categories</a>
<a th:href="@{/allStatuses}">All Statuses</a>
<a th:href="@{/allCountry}">All Country</a>
<a th:href="@{/allAccess}">All Access</a>
<a th:href="@{/allGenre}">All Genre</a>
<a th:href="@{/allLanguage}">All Language</a>
<a th:href="@{/allSubtitle}">All subtitle</a>
<a th:href="@{/allExitDay}">All ExitDay</a>
</body>
</html>

