<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Start Page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1> Movie Operations </h1> <hr/>
<a th:href="@{/addMovieForm}">Add New Movie</a>
<a th:href="@{/addCategoryForm}">Add New Category</a>
<a th:href="@{/addStatusForm}">Add New Status</a>
<a th:href="@{/addCountryForm}">Add New Country</a>
<a th:href="@{/addAccessForm}">Add New Access</a>
<a th:href="@{/addGenreForm}">Add New Genre</a>
<a th:href="@{/addLanguageForm}">Add New Language</a>
<a th:href="@{/addSubtitleForm}">Add New Subtitle</a>
<a th:href="@{/addExitDayForm}">Add New ExitDay</a>
</br>
<a th:href="@{/allMovies}">All Movies</a>
<a th:href="@{/allCategories}">All Categories</a>
<a th:href="@{/allStatuses}">All Statuses</a>
<a th:href="@{/allCountries}">All Countries</a>
<a th:href="@{/allAccesses}">All Accesses</a>
<a th:href="@{/allGenres}">All Genres</a>
<a th:href="@{/allLanguages}">All Languages</a>
<a th:href="@{/allSubtitles}">All subtitles</a>
<a th:href="@{/allExitDays}">All ExitDays</a>
</body>
</html>

